@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "McLaren", serif;
  --heading-1: 43px;
  --heading-2: 36px;
  --heading-3: 22px;
  --heading-4: 18px;
  --paragraph: 16px;
  --color-primary: #b9ff66;
  --color-black: #191a23;
  --color-gray: #f3f3f3;
  --color-white: #ffffff;
}

* {
  font-family: var(--font-display);
}

.wrapper {
  @apply max-w-[min(100%-2rem,1440px)];
}

h1 {
  font-size: clamp(1.5rem, calc(0.1rem + 5vw), 3rem);
  line-height: 1.3;
}
h2 {
  font-size: var(--heading-2);
  font-size: clamp(1.2rem, calc(0.1rem + 3vw), 2rem);
}
h3 {
  font-size: var(--heading-3);
  line-height: 1.1;
}
h4 {
  font-size: var(--heading-4);
  font-size: clamp(1rem, calc(0.1rem + 1.5vw), 1.5rem);
}
/* p {
  font-size: var(--paragraph);
} */

.clr-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}
.surface-primary {
  background-color: var(--color-primary);
}
.clr-black {
  color: var(--color-black);
}
.bg-black {
  background-color: var(--color-black);
}
.surface-black {
  background-color: var(--color-black);
}
.bg-gray {
  background-color: var(--color-gray);
}

.nav-link {
  @apply text-sm px-2 py-2 rounded-lg  leading-none hover:bg-primary focus:bg-primary hover:text-black focus:text-black  transition-all duration-300;
}

.nav-link-mobile {
  @apply text-lg py-4 px-8 rounded leading-none hover:bg-primary focus:bg-primary;
}

.btn {
  @apply bg-black text-white rounded-xl py-4 px-8 hover:bg-primary focus:bg-primary hover:text-black focus:text-black transition duration-200 cursor-pointer shadow-2xl;
}

.card {
  @apply flex flex-col md:flex-row md:justify-between relative p-8 border rounded-4xl shadow-[0_4px_0_rgb(0,0,0)];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.indicator {
  width: 12px;
  height: 12px;
  clip-path: polygon(
    50% 15%,
    100% 0,
    85% 50%,
    100% 100%,
    50% 85%,
    0 100%,
    15% 50%,
    0 0
  );
}

.indicator-selected {
  @media (width >= 687px) {
    width: 24px;
    height: 12px;
    clip-path: polygon(
      50% 15%,
      100% 0,
      85% 50%,
      100% 100%,
      50% 85%,
      0 100%,
      15% 50%,
      0 0
    );
  }
}
